	body { 
		min-height: 0vw;
		font-size: calc(0.4934210526315789vw + 0.506578947368421em);
	}

	@media screen and (max-width:991px) {
		body { font-size: 0.8em; }
	}

	@media screen and (min-width:1440px) {
		body { font-size: 0.9em; }
	}

	:root {
		--main-color: #0F172A;
		--p-color: #8A90A9;
		--btn-color: #306CFE;
		--lazyload-clr: #F3F3F3;
	}

	body {
		overscroll-behavior: none;
		font-family: 'Poppins', sans-serif;
		margin: 0;
		color: var(--main-color);
	}

	.page__wrapp {
		background-color: #f2f6ff;;
		overflow: hidden;
	}

	.section{
		padding: 9.03em 4.17em;
	}

	.py-0{
		padding-top: 0em;
		padding-bottom: 0em;
	}

	.container{
		max-width: 1200px;
		width: 100%;
		margin: auto;
	}

	.form-container, #results {
		border-radius: 10px;
		max-width: 60em;
		width: 100%;
		margin: 1.67em auto 0px auto;
	}

	.form-container h2 {
		text-align: center;
		color: #333;
		margin-bottom: 1.39em;
	}

	form {
		display: flex;
		flex-direction: column;
	}

	label {
		margin-bottom: 5px;
		font-weight: bold;
		color: #555;
	}

	input[type="text"] {
		padding: 10px;
		margin-bottom: 0px;
		border-radius: 5px;
		border: 0px solid #ddd;
		font-size: 1em;
		width: 100%;
	}

	@media screen and (max-width: 479px) {
		input[type="text"] {
			padding: 0.6em;
			padding-left: 0em;
			font-size: 0.8em;
			width: 100%;
		}
	}

	p{
		color: var(--p-color);
		font-weight: 400;
	}

	.navbar {
		position: absolute;
		top: 0%;
		bottom: auto;
		left: 0%;
		right: 0%;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		display: flex;
		line-height: 150%;
		padding: 2.64em 4.17em;
		z-index: 1;
	}

	@media (max-width: 479px) {
		.navbar {
			padding: 1.2em 1em;
		}
	}

	.section-hero{
		position: relative;
		background-color: #fff;
		overflow: hidden;
	}

	.hero-circle{
		position: absolute;
		width: 72.85em;
		height: 72.85em;
		left: calc(50% - 72.85em/2 + 0.5px);
		top: calc(50% - 72.85em/2 + 55.5px);
		background: #306CFE;
		opacity: 0.08;
		filter: blur(271.2px);
	}

	.navbar__content {
		display: flex;
		width: 100%;
		gap: 1.39em;
		justify-content: space-between;
		align-items: center;
	}

	.bb-1{
		border-bottom: 1px solid #00000010;
	}

	/* account dropdown */
	.notif__user-icon{
		position: relative;
	}

	.account-dropdown__wrapp{
		display: none;
		flex-direction: column;
		width: 17em;
		align-items: flex-start;
		padding: 1.39em;
		position: absolute;
		right: 0%;
		top: 100%;
		background: #FFFFFF;
		box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.05), -68px 111px 78px rgba(0, 0, 0, 0.01), -30px 49px 58px rgba(0, 0, 0, 0.02), -8px 12px 32px rgba(0, 0, 0, 0.02);
		border-radius: 20px;
	}

	.account-dropdown__nav{
		text-decoration: none;
		padding: 0.83em 0.97em;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		color: var(--p-color);
	}

	.account-dropdown__nav:hover{
		color: var(--main-color);
	}

	.w14{
		width: 0.97em;
	}

	.h18{
		height: 1.25em;
	}

	.cursor-p{
		cursor: pointer;
	}

	@media (max-width: 991px) {
		.navbar__content {
			max-width: 100%;
			flex-wrap: wrap;
			gap: 1em;
		}
	}

	.hero-logo {
		width: 100%;
		max-width: 20.83em;
		margin: auto 0;
	}

	.nav__list{
		display: flex;
		gap: 1.94em;
		margin-right: auto;
		margin-left: 5em;
	}

	.nav__item{
		font-size: 0.97em;
		color: #6B717F;
		text-decoration: none;
	}

	.nav__item:hover{
		color: var(--main-color);
	}

	.nav__item.current{
		color: #000;
	}

	.notif__main-icon{
		position: relative;
	}

	.div-4 {
		justify-content: end;
		align-items: center;
		display: flex;
		padding-left: 1.67em;
		gap: 1.39em;
	}

	.navbar-tel__wrapp {
		text-decoration: none;
		display: flex;
		gap: 1.67em;
	}

	.navbar__tel {
		color: var(--p-color);
		align-self: stretch;
		margin: auto 0;
	}

	.tel-img {
		width: 1.81em;
		margin: auto 0;
	}

	.btn{
		transition: background-color 0.3s;
		text-decoration: none;
		font-size: 0.97em;
		border: 0px;
		border-radius: 2.78em;
		background-color: hsla(223, 99%, 59%, 0.07);
		color: var(--btn-color);
		padding: 0.83em 1.67em;
	}

	.btn:hover{
		background-color: #306CFE25;
	}

	.btn-order{
		transition: background-color 0.3s;
		text-decoration: none;
		font-size: 0.97em;
		border: 0px;
		border-radius: 2.78em;
		padding: 0.83em 1.67em;
		color: white;
		background-color: var(--btn-color);
		cursor: pointer;
	}

	.btn-order:hover{
		background-color: #3F77FF!important;
	}
	
	.m0{
		margin: 0;
	}

	.fs-10{
		font-size: 0.69em;
	}

	.fs-14{
		font-size: 0.97em;
	}

	.fs-16{
		font-size: 1.11em;
	}

	.fs-18{
		font-size: 1.25em;
	}	

	.mb0{
		margin-bottom: 0;
	}

	@media (max-width: 991px) {
		.navbar{
			padding: 2em;
		}

		.navbar__tel{
			display: none;
		}

		.section{
			padding-left: 2em;
			padding-right: 2em;
		}
	}

	@media screen and (max-width: 479px) {
		.section{
			padding: 4em 1em;
		}
	}

	@media (max-width: 479px) {

		.hero-logo {
			max-width: 40%;
			min-width: 8em;
		}
		
		.navbar__tel{
			font-size: 0.6em;
		}

		.div-4{
			gap: 1em;
			padding-left: 0em;
		}

		.btn{
			font-size: 0.87em;
			padding: 0.6em 1.2em;
		}

		.fs-18{
			font-size: 1em;
		}

		.fs-14{
			font-size: 0.87em;
		}
	}

	.line-grey{
		height: 1px;
		width: 100%;
		background-color: #E8E9EE;
		margin-top: 1.25em;
	}

	/* notification content */
	.w16{
		width: 1.11em;
	}

	.w18{
		width: 1.25em;
	}

	.w40{
		width: 2.78em;
	}

	.mark-all__icon{
		width: 1.25em;
		color: var(--btn-color);
	}

	.notif-top__wrapp{
		margin-top: 4.17em;
	}

	.notif-top__title{
		font-size: 2.08em;
		font-weight: 500;
		margin-bottom: 8px;
	}

	.notif-content__top-wrapp{
		display: flex;
		justify-content: space-between;
		gap: 1.69em;
		align-items: center;
	}

	.notif__search-wrapp{
		display: flex;
		align-items: center;
		border: 1px solid #8A90A920;
		border-radius: 8px;
		position: relative;
	}

	.notif__search-icon{
		position: absolute;
		left: 1.25em;
		right: auto;
	}

	.notif__search-input{
		padding: 0.83em 1.11em 0.83em 2.92em!important;
	}

	.notif-circle{
		min-width: 0.56em;
		height: 0.56em;
		border-radius: 100px;
	}

	.bg-blue{
		background-color: var(--btn-color);
	}

	.bg-orange{
		background-color: #FB8C00;
	}

	.notif-content__wrapp{
		background-color: white;
		padding: 2.22em;
		border: 1px solid;
		border-image-source: linear-gradient(169.72deg, rgba(138, 144, 169, 0.12) 0%, rgba(138, 144, 169, 0) 100%);
		border-radius: 24px;
		margin-top: 2.22em;
	}

	.main-tabs__wrapp{
		display: flex;
		border-radius: 8px;
		border: 1px solid #8A90A920;
	}

	.main-tab__wrapp:last-child{
		border: none;
	}

	.main-tab__wrapp{
		display: flex;
		gap: 6px;
		padding: 0.83em 1.25em;
		background-color: #8A90A904;
		border-right: 1px solid #8A90A920;
		cursor: pointer;
	}

	.notif__list-most-recent, .notif__list-earlier{
		display: none;
	}

	.main-tabs__count{
		display: flex;
		align-items: center;
		color: white;
		background-color: var(--p-color);
		padding: 0px 4px;
		border-radius: 4px;
		font-size: 0.69em;
		line-height: 120%;
	}

	.main-tab__wrapp.active .main-tabs__count{
		background-color: var(--btn-color);
	}

	.main-tab__wrapp.active{
		background-color: #FBFBFC;
	}

	.notif-content__top-left{
		display: flex;
    	gap: 1.11em;
	}

	.mark-all__wrapp{
		display: flex;
		align-items: center;
		gap: 6px;
		color: var(--btn-color);
		font-size: 0.97em;
		cursor: pointer;
	}

	.line-vertical__grey{
		height: 100%;
		width: 1px;
		background-color: #8A90A920;
	}

	.notif__list{
		margin-bottom: 1.94em;
	}

	.notif__list-item{
		margin-top: 1.94em;
		display: flex;
		align-items: flex-start;
		gap: 0.83em;
		padding: 1.39em;
		border-radius: 16px;
		cursor: pointer;
	}

	.notif__list-item-trash {
		display: none;
		min-width: 0.97em;
		max-width: 0.97em;
	}
	
	.notif__list-item:hover .notif__list-item-trash {
		display: block;
	}

	.notif__list-item:hover .notif-circle {
		display: none;
	}

	.notif__list-item:hover{
		background-color: #F7F7F9!important;

	}

	.notif__list-item:nth-child(odd){
		background-color: #FAFBFC;
	}

	.notif__item-date-wrapp{
		display:flex;
		gap: 6px;
		align-items: center;
	}

	.notif__item-content{
		margin-right: auto;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}

	.notif__list-item--waiting{
		background-color: #FFF7ED!important;
	}

	.notif__list-item--done{
		background-color: #F1F5FF!important;
	}

	.notif__item-date{
		font-size: 0.97em;
		color: var(--p-color);
	}

	.order-number{
		font-size: 0.97em;
		color: var(--btn-color);
	}

	.notif-content__bottom-wrapp{
		display: flex;
		gap: 1.69em;
		align-items: center;
		justify-content: space-between;
		padding-top: 1.94em;
	}

	.notif-content__bottom-item{
		display: flex;
		gap: 0.69em;
		align-items: center;
	}

	.notif-content__bottom-count{
		display: flex;
		gap: 0.6em;
		padding: 0.83em;
		border-radius: 45px;
		min-width: 4em;
		background-color: #F9F9FB;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
	}

	.notif-content__bottom-count-dropp{
		display: none;
		flex-direction: column;
		gap: 0.6em;
		padding: 0.83em;
		background-color: #F9F9FB;
		align-items: center;
		position: absolute;
		top: 60%;
		left: 0%;
		border-bottom-right-radius: 22px;
		border-bottom-left-radius: 22px;
	}

	.notif-content__drop-wrapp{
		display: flex;
		align-items: center;
		min-width: 4em;
		justify-content: center;
		gap: 0.6em;
	}

	.notif-pagination__item-wrapp{
		cursor: pointer;
		display: flex;
		background-color: #8A90A912;
		width: 2.78em;
		height: 2.78em;
		justify-content: center;
		align-items: center;
		border-radius: 100px;
		font-size: 0.97em;
	}
	
	.notif-pagination__item-wrapp.active{
		background-color: var(--btn-color);
		color: white;
	}

	.notif-content__top-wrapp.empty{
		pointer-events: none;
		color: var(--p-color);
	}

	.notif-empty__wrapp{
		background-color: #FAFBFC;
		border-radius: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 4.86em;
		padding-bottom: 6.94em;
		margin-top: 1.94em;
	}

	.notif-empty__icon{
		width: 100%;
		max-width: 6.94em;
		margin-bottom: 2.08em;
	}

	.notif-empty__title{
		font-size: 1.53em;
		font-weight: 500;
		margin-bottom: 10px;
	}

	.notif-deleted__wrapp{
		display: none;
		align-items: center;
		padding: 1.25em;
		background-color: var(--main-color);
		font-size: 1.11em;
		color: white;
		position: fixed;
		right: 3.47em;
		top: 3.47em;
		z-index: 9;
		border-radius: 12px;
		gap: 0.83em;
		width: 100%;
		max-width: 20em;
	}

	.notif-deleted__close{
		cursor: pointer;
		width: 0.83em;
		margin-left: auto;
	}

	.notif-popup__wrapp{
		display: none;
		background-color: white;
		border-radius: 24px;
		filter: drop-shadow(0px 5px 40px rgba(0, 0, 0, 0.05)) drop-shadow(-68px 111px 78px rgba(0, 0, 0, 0.01)) drop-shadow(-30px 49px 58px rgba(0, 0, 0, 0.02)) drop-shadow(-8px 12px 32px rgba(0, 0, 0, 0.02));
		min-width: 32.29em;
		max-width: 32.29em;
		position: absolute;
		top: 140%;
		right: 0;
		z-index: 99;
		overflow: hidden;
	}

	.notif-popup__top-wrapp{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.67em;
		border: 1px solid #E8E9EE;
	}

	.notif-popup__empty-wrapp{
		padding-left: 6.8em;
		padding-right: 6.8em;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 0px;
		margin-top: 0;
		background-color: #fff;
	}

	.notif-popup__empty-wrapp p{
		text-align: center;
	}

	.notif-empty__title-count{
		color: var(--p-color);
	}

	.notif-popup__list{
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding: 0em 1.67em 1.67em 1.67em;
		align-items: flex-end;
	}

	.notif__list-state{
		padding: 0em;
		/* border-top: 1px solid #E8E9EE; */
		max-height: 34.72em;
		height: 90%;
		overflow: scroll;
		margin-bottom: 0.5em;
	}

	.notif__btn-popup{
		transition: background-color 0.3s;
		margin-top: 1.67em;
		background-color: var(--btn-color);
		color: white;
		max-width: 11.11em;
		padding-left: 0.83em;
		padding-right: 0.83em;
		border-radius: 8px;
		cursor: pointer;
	}

	.notif__btn-popup:hover{
		background-color: #3F77FF!important;
	}

	@media screen and (max-width: 784px){

		.notif-content__top-wrapp, .notif-content__top-left{
			flex-wrap: wrap;
		}

		.notif-content__bottom-wrapp{
			flex-wrap: wrap;
			justify-content: center;
		}

		.notif-deleted__wrapp{
			padding: 1em;
			right: 1em;
			top: 1em;
		}
		
	}

	@media screen and (max-width: 479px){
		.notif-content__wrapp{
			padding: 1em;
		}

		.notif__form{
			width: 100%;
		}

		.notif-deleted__wrapp{
			font-size: 0.79em;
		}

		.w40{
			min-width: 1.5em;
		}

		.notif__search-input {
			padding: 0.83em 1.11em 0.83em 3.5em !important;
		}
		
	}

	@media screen and (max-width: 365px){
		.main-tab__wrapp{
			flex-wrap: wrap;
		}
	}
	/* footer */
	.section-footer {
		align-items: center;
		background-color: var(--Text, #0f172a);
		color: #9FA2AA;
		display: flex;
		justify-content: center;
		padding-bottom: 5.56em;
	}

	@media screen and (max-width: 479px) {
		.section-footer {
			padding-bottom: 3em;
		}
	}

	.footer__p{
		color: currentColor;
		font-weight: 300;
		max-width: 24em;
		margin: 0;
		margin-top: 1em;
	}

	.footer-content__top {
		gap: 3em;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}

	.logo-footer {
		max-width: 20.83em;
		width: 100%;
	}

	.socials__wrapp {
		display: flex;
		margin-top: 2.22em;
		gap: 0.83em;
	}

	a .social__icon{
		color: #9FA2AA;
	}

	.social__icon {
		aspect-ratio: 1;
		object-fit: auto;
		object-position: center;
		width: 1.67em;
	}

	.column-17 {
		display: flex;
		flex-direction: column;
		line-height: normal;
		width: 45%;
	}

	.column-18 {
		display: flex;
		flex-direction: column;
		line-height: normal;
		width: 48%;
	}

	.footer-content__top-right {
		display: flex;
		flex-grow: 1;
		max-width: 26.04em;
		flex-direction: column;
		font-weight: 300;
		margin-left: auto;
	}

	.footer-nav__title{
		text-decoration: none;
		font-weight: 400;
		color: #fff;
	}

	.footer-contacts__wrapp{
		display: flex;
		flex-direction: column;
		gap: 1.11em;
		margin-top: 3.06em;
	}

	.footer-contact__wrapp {
		display: flex;
		gap: 0.5em;
		white-space: nowrap;
		text-decoration: none;
		color: currentColor;
		font-size: 0.97em;
	}
		
	@media screen and (max-width: 479px){
		.footer-content__top {
			flex-direction: column;
			gap: 4em;
		}

		.column-17 {
			width: 100%;
		}

		.socials__wrapp {
			margin-top: 1em;
		}

		.footer-contact__wrapp{
			font-size: 0.87em;
		}
	}

	@media screen and (max-width:479px) {
		.footer-contacts__wrapp {
			margin-top: 2em;
		}
	}

	.footer-contact__wrapp:hover{
		color: #fff;
	}

	.footer-contact__icon{
		width: 1.39em;
	}

	.footer-content__bottom {
		padding-top: 3.06em;
		border-top: 1px solid #9FA2AA;
		justify-content: space-between;
		align-items: start;
		display: flex;
		margin-top: 5.56em;
		width: 100%;
		gap: 20px;
		font-size: 14px;
		font-weight: 300;
		line-height: 150%;
	}

	@media (max-width: 991px) {
		.footer-content__bottom {
			max-width: 100%;
			flex-wrap: wrap;
			margin-top: 40px;
		}
	}

	.footer-nav__list {
		display: flex;
		gap: 1.39em;
		justify-content: space-between;
	}

	@media screen and (max-width: 479px) {
		.footer-nav__list {
			flex-wrap: wrap;
			justify-content: flex-start;
		}
	}

	.footer-nav{
		text-decoration: none;
		color: currentColor;
		font-weight: 300;
		font-size: 0.97em;
	}

	.footer-nav:hover{
		color: #fff;
	}

	/* lazyload */
	.mb-8{
		margin-bottom: 0.56em;
	}

	.mw-520{
		max-width: 36.11em;
	}

	.mw-470{
		max-width: 32.64em;
	}

	.mw-440{
		max-width: 30.56em;
	}

	.mw-400{
		max-width: 27.78em;
	}

	.mw-290{
		max-width: 20.14em;
	}

	.mw-185{
		max-width: 12.85em;
	}

	.mw-145{
		max-width: 10.07em
	}
	
	.mw-135{
		max-width: 9.38em;
	}

	.mw-130{
		max-width: 9.03em;
	}

	.mw-110{
		max-width: 7.64em;
	}

	.mw-75{
		max-width: 5.21em;
	}

	.mw-60{
		max-width: 4.17em;
	}

	.mw-50{
		max-width: 3.47em;
	}

	.w12{
		width: 12%;
	}

	.h-auto{
		height: auto!important;
	}

	.gap8{
		gap: 0.56em;
	}

	.gap20{
		gap: 1.39em;
	}

	.br40{
		border-radius: 40px;
	}

	.mb20{
		margin-bottom: 1.39em;
	}

	.mb28{
		margin-bottom: 1.94em;
	}

	.w100{
		width: 100%;
	}